.toast{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 400px;
    padding: 6px;
    background: #cccccc;
    color: #333333;
    font-family: sans-serif;
    text-align: center;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s visibility 0.2s top 0.2s;
        }

.toast--visible{
    opacity: 1;
    visibility: visible;
    top: 20px;
    }

.toast--success{
    color: #ffffff;
    background: #00c02b;
    background-color: #009d23;

}
.toast--error{
    color: #ffffff;
    background-color: #ba0000;
    background: #d50000;
}

.toast--info {
    background-color: #2196F3;
    color: white;
}
.toast--warning {
    background-color: #ff9800;
    color: white;
}