{% extends "admin/base_admin.html" %}
{% block content %}
<div class="container-fluid">
  <h3 class="mb-4 text-center">Sales Report</h3>

  <table class="table table-bordered">
    <thead class="table-success">
     <tr>
      <th class="text-center">Data</th>  <th class="text-center">Value</th>
     </tr>
    </thead>
    <tbody>
      <tr><td>Total Orders</td><td>201</td></tr>
    <tr><td>Total Items Sold</td><td>445</td></tr>
    <tr><td>Total Revenue</td><td>₹114587</td></tr>
    <tr><td>Average Order Value</td><td>₹842</td></tr>
    <tr><td>Total Coupon Discounts</td><td>₹45112</td></tr>
    <tr><td>Total Offer Discounts</td><td>₹68210</td></tr>
    <tr><td>Delivered Orders</td><td>170</td></tr>
    <tr><td>Pending Orders</td><td>31</td></tr>
    <tr><td>Top Payment Method</td><td>COD</td></tr>
    <tr><td>Cancelled Orders</td><td>30</td></tr>
    <tr><td>Returned Orders</td><td>34</td></tr>
    <tr><td>Top Customer</td><td>Abdulla{{ top_user.username }} ({{ top_user.order_count }} orders)</td></tr>
    <tr><td>Most Ordered Product</td><td>Facewash</td></tr>
    <tr><td>Top Category</td><td>Skin Care</td></tr>
    </tbody>

  </table>  
{% endblock %}
