{% extends "admin/base_admin.html" %}
{% load static %}

{% block content %}
<div class="container">
    <h2 class="mb-4 text-center">Admin Dashboard</h2> 
    <div class="card" style="width: 18rem;">
  <div class="card-body bg-success">
    <h5 class="card-title">Customers</h5>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">Total count: 25</h6>
    <h6 class="card-subtitle mb-2 text-muted">Active: 19</h6>
    <h6 class="card-subtitle mb-2 text-muted">Inactive: 6</h6>
  </div>
</div> 
<div class="card" style="width: 18rem;">
  <div class="card-body bg-success">
    <h5 class="card-title">Customers</h5>
    <hr>
    <h6 class="card-subtitle mb-2 text-muted">Total count: 25</h6>
    <h6 class="card-subtitle mb-2 text-muted">Active: 19</h6>
    <h6 class="card-subtitle mb-2 text-muted">Inactive: 6</h6>
   
   
   
  </div>
</div>     
</div>
{% endblock %}